.qc-how-it-works__title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #2E3D4E;
    margin-block-end: 40px;
}
.qc-how-it-works__wrapper {
    display: flex;
    justify-content: center;
}

.qc-how-it-works__img-wr {
    position: relative;
    width: 215px;
}
.qc-how-it-works__descr {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5F6E7F;
    margin-top: 12px;
}
.qc-how-it-works__img {
    margin-left: 60px;
    margin-right: 60px;
}

.qc-how-it-works__img-wr:not(:last-child):after {
    content: "";
    width: 100px;
    height: 1px;
    background: #DFE2E5;
    display: block;
    position: absolute;
    top: 48px;
    left: 163px;
}
.qc-how-it-works__btn {
    background: #DE5458;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    width: 190px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 39px;
    letter-spacing: 1px;
    transition: 0.3s all;
}
.qc-how-it-works__btn:hover {
    background: #E2696C;
    box-shadow: 0px 10px 25px rgba(226, 105, 108, 0.4);
    border-radius: 4px;
}

